<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gss.chs">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Security Guard"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library android:name ="org.apache.http.legacy" android:required ="false"/>

        <activity
            android:name=".Activities.ResidentDetailActivity"
            android:parentActivityName=".Activities.NavigationDrawaerActictivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity
            android:name=".Activities.StaffProfileActivity"
            android:parentActivityName=".Activities.NavigationDrawaerActictivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.StaffEditProfileActivity"
            android:parentActivityName=".Activities.NavigationDrawaerActictivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:parentActivityName=".Activities.NavigationDrawaerActictivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ForgorPasswordActivity"
            android:label="@string/forgot_password"
            android:parentActivityName=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NewVisitRegisterActivity"
            android:label="@string/title_activity_new_visit_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RegularVisitorProfileActivity"
            android:parentActivityName=".Activities.NavigationDrawaerActictivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ExpectedVisitorProfileActivity"
            android:parentActivityName=".Activities.NavigationDrawaerActictivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Activities.NavigationDrawaerActictivity"
            android:parentActivityName=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>